.App {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  /* align-items: stretch; */
  /* justify-items: stretch; */
}

.navbar {
  /* flex-grow: 1; */
  position: fixed;
  width: 15%;
  min-height: 100%;
  background-color: green;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.content {
  /* flex-grow: 9; */
  width: 85%;
  margin-left: 15%;
  background-color: hotpink;

  display: flex;
  flex-flow: column;
  align-items: flex-end;
  
}

.tableau {
  width: 100%;
  background-color: burlywood;

  display: flex;
  flex-flow: row;
}

.coll {
  width: 50%;
  background-color: rgb(113, 129, 129);
}

.colr {
  width: 50%;
  background-color: blueviolet;
}

.bottom {
  background-color: chocolate;
}

.top {
  background-color: cornflowerblue;
}